<div>
   Check the price of this item in other countries:<p>
      <a href="https://www.amazon.co.uk/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees0a-21">🇬🇧 United Kingdom</a> |
      <a href="https://www.amazon.com.be/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees02-21">🇧🇪 Belgium</a> |
      <a href="https://www.amazon.com/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees-20">🇺🇸 USA</a> |
      <a href="https://www.amazon.de/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees0ca-21">🇩🇪 Germany</a> |
      <a href="https://www.amazon.es/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees-21">🇪🇸 Spain</a> |
      <a href="https://www.amazon.fr/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees0d-21">🇫🇷 France</a> |
      <a href="https://www.amazon.it/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees00-21">🇮🇹 Italia</a> |
      <a href="https://www.amazon.nl/dp/{{ printf "%s" .Inner | markdownify }}/?tag=tolees03-21">🇳🇱 Neederlands</a> |      
      <a href="https://www.amazon.ae/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇦🇪 Arab Emirates</a> |
      <a href="https://www.amazon.ca/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇨🇦 Canada</a> |         
      <a href="https://www.amazon.com.au/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇦🇺 Australia</a> |
      <a href="https://www.amazon.pl/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇵🇱 Poland</a> |
      <a href="https://www.amazon.sa/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇸🇦 Saudi Arabia</a> |
      <a href="https://www.amazon.se/dp/{{ printf "%s" .Inner | markdownify }}/?tag=">🇸🇪 Sweden</a > 
   </p>
</div>
