<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>{{ partial "head.html" . }}</head>

<body>
    <div id="all">
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                {{ block "main" . }} {{ end }}
            </div>
        </div>
    {{ if .Params.prodname }}
    {{ if isset .Params "tags" -}}
        <span >
        <a href="/tags/" title="{{ $.Scratch.Get "index" }}"><i class="fas fa-tags"></i></a>
        {{ range $index, $name := sort .Params.tags -}}
            | <a class=ph1 href={{ (printf "/tags/%s/" $name) | urlize }} title="Index: {{$name | markdownify }}">{{$name | markdownify}}</a> 
        {{- end}}
        </span>
    {{- end }}
{{ end }}
{{ if not .Params.prodname  }}
    {{ $tags := $.Site.Taxonomies.tags.ByCount }}
    {{ $v1 := where $tags "Count" ">" 1 }}
	<a href="/tags/" title="{{ $.Scratch.Get "index" }}"><i class="fas fa-tags"></i></a>
    {{ range $v1 }}
    {{ if .Term }}
    {{ $tagURL := printf "tags/%s" .Term | relURL }}
		| <a class=ph1 href={{ (printf "/tags/%s/"  .Term ) | urlize }} title="Index: {{ .Term | markdownify }}">{{ .Term | markdownify}}</a> 
    {{ end }}
    {{ end }}
{{ end }}
    
    {{ partial "scripts.html" . }}
    <small class="text-muted">Links participate in Amazon Associate program and might generate a fee on qualifying sales</small>
</div>
</body>

</html>
