<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>{{ partial "head.html" . }}</head>

<body>
    <div id="all">
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-left">
                {{ block "main" . }} {{ end }}
            </div>
        </div>
    {{ if .Params.prodname }}
    {{ if isset .Params "tags" -}}
        <span >
        <a href="/tags/" title="{{ $.Scratch.Get "index" }}"><i class="fas fa-tags"></i></a>
        {{ range $index, $name := sort .Params.tags -}}
            | <a class=ph1 href={{ (printf "/tags/%s/" $name) | urlize }} title="Index: {{$name | markdownify }}">{{$name | markdownify}}</a> 
        {{- end}}
        </span>
    {{- end }}
{{ end }}
{{ if not .Params.prodname  }}
    {{ $tags := $.Site.Taxonomies.tags.ByCount }}
    {{ $v1 := where $tags "Count" ">" 1 }}
	<a href="/tags/" title="{{ $.Scratch.Get "index" }}"><i class="fas fa-tags"></i></a>
    {{ range $v1 }}
    {{ if .Term }}
    {{ $tagURL := printf "tags/%s" .Term | relURL }}
		| <a class=ph1 href={{ (printf "/tags/%s/"  .Term ) | urlize }} title="Index: {{ .Term | markdownify }}">{{ .Term | markdownify}}</a> 
    {{ end }}
    {{ end }}
{{ end }}
    
    {{ partial "scripts.html" . }}

</div>
<p>Other sites: </p>

<a href="https://android.tole.es">🤖 Android</a> |
<a href="https://apple.tole.es">🍏 Apple</a> |
<a href="https://bebe.tole.es">👶 Bebé</a> |
<a href="https://bicicletas.tole.es">🚲 Bicicletas</a> |
<a href="https://cafe.tole.es">☕ Café</a> |
<a href="https://consolas.tole.es">🎮 Gaming</a> |
<a href="https://domotica.tole.es">🏠 Domótica</a> |
<a href="https://juguetes.tole.es">🧸 Juguetes</a> |
<a href="https://lego.tole.es">🧱 Lego</a> |
<a href="https://mascarillas.tole.es">😷 Mascarillas</a> |
<a href="https://materialescolaryoficina.tole.es">📏 Material oficina</a> |
<a href="https://moda.tole.es">👚 Moda</a> |
<a href="https://playmobil.tole.es">🎎 Playmobil</a> |
<a href="https://regalos.tole.es">🎁 Regalos</a> |
<a href="https://supermercado.tole.es">🛒 Supermercado</a> |
<a href="https://sylvanianfamilies.tole.es">👪 Sylvaniam Families</a> |
<a href="https://tecnologia.tole.es">📺 TV</a> |
<a href="https://television.tole.es">💻 Tecnología</a> |
<a href="https://zapatos.tole.es">👠 Zapatos</a> |

<p>
<a href="https://angebot.tole.es">🇩🇪 Angebot</a> |
<a href="https://ofertas.tole.es">🇪🇸 Ofertas</a> |
<a href="https://ofertasenaliexpress.tole.es">🇨🇳 Aliexpress</a> |
<a href="https://sconti.tole.es">🇮🇹 Sconti</a > |
<a href="https://soldes.tole.es">🇫🇷 Soldes</a> 
<a href="https://korting.tole.es">🇳🇱 Korting</a> 

<p>
<small class="text-muted">Links participate in Amazon Associate program and might generate a fee on qualifying sales</small>
</body>

</html>
